<%= form_for(
  @application,
  html:   { multipart: true },
  method: :put,
  role:   "form",
  url:    application_path(@application)
) do |f| %>
  <%= render(
    "shared/errors",
    object: @application
  )%>
  <div class="form-group">
    <%= f.label(
      :name,
      "Name"
    )%>
    <%= f.hidden_field(:job_id) %>
    <%= f.text_field(
      :name,
      class: "form-control",
      data: {
        "parsley-required" => "true"
      },
      placeholder: "Enter name"
    )%>
  </div>
  <div class="form-group">
    <%= f.label(
      :email,
      "Email"
    )%>
    <%= f.text_field(
      :email,
      class: "form-control",
      data: {
        "parsley-required" => "true",
        "parsley-type"     => "email"
      },
      placeholder: "Enter email"
    )%>
  </div>
    <div class="form-group">
    <%= f.label(
      :resume_url,
      "Resume"
    )%>
    <%= f.file_field(
      :resume_url,
      class: "form-control",
      data: {
        "parsley-required" => "true"
      }
    )%>
  </div>
  <%= f.submit(
    "Submit",
    class: "btn btn-info",
    type: "submit"
  )%>
  <%= link_to(
    "Cancel",
    job_path(@application.job),
    class: "btn btn-default"
  )%>
<% end %>
